{% extends "base.html" %}

{% block nav %}
	{% if not is_member %}
	<li><a>liity</a></li>
	{% else %}
	<li><a href={% url sampleCreate group.id %}>lisää näyte!</a></li>
	<li><a>eroa ryhmästä</a></li>
	<li><a>muokkaa</a></li>
	{% endif %}
	{% if is_creator%}
	<li><a>poista ryhmä</a></li>
	{% endif %}
{% endblock %}

{% block content %}
		<article>
			<h1>{{group.name}}</h1>
			<section>
			{% if is_member %}
			<p>perustit tämän ryhmän.</p>
			{% endif %}
			{% if is_member %}
			<p>kuulut ryhmään.</p>
			{% endif %}
			<p>{{group.description}}</p>
			</section>
			<section>
				{% for sample in samples %}
				<a href={{sample.get_absolute_url}}>
					<article>
						<h1>{{sample.sample_id}}</h1>
						<section>
						<ul>
							<li>{{sample.date_added}}</li>
							<li><img src="{{sample.picture.url}}"></li>
						</ul>
						</section>
					</article>
				</a>
				{% endfor %}
			</section>
		</article>
{% endblock %}
